swagger: "2.0"
info:
  description: ""
  version: "1.0.0"
  title: "GSES BTC application"
host: "gses2.app"
basePath: "/api"
tags:
  - name: "rate"
    description: "Отримання поточного курсу USD до UAH"
  - name: "subscription"
    description: "Робота з підпискою"
schemes:
  - "http"
paths:
  /rate:
    get:
      tags:
        - "rate"
      summary: "Отримати поточний курс USD до UAH"
      description: "Запит має повертати поточний курс USD до UAH використовуючи будь-який third party сервіс з публічним АРІ"
      operationId: "rate"
      produces:
        - "application/json"
      responses:
        "200":
          description: "Повертається актуальний курс USD до UAH"
          schema:
            type: "number"
        "400":
          description: "Invalid status value"
  /subscribe:
    post:
      tags:
        - "subscription"
      summary: "Підписати емейл на отримання поточного курсу"
      description: "Запит має перевірити, чи немає данної електронної адреси в поточній базі даних і, в разі її відсутності, записувати її."
      operationId: "subscribe"
      consumes:
        - "application/x-www-form-urlencoded"
      produces:
        - "application/json"
      parameters:
        - name: "email"
          in: "formData"
          description: "Електронна адреса, яку потрібно підписати"
          required: true
          type: "string"
      responses:
        "200":
          description: "E-mail додано"
        "409":
          description: "Повертати, якщо e-mail вже є в базі даних"
